﻿@model codefirst.Models.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
<div class="col-lg-2">
    @foreach (var item in Model.Categories)
    {
        <div class="row">
            <div class="col-lg-12">
                @item.Title
            </div>
        </div>
    }
    
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        @foreach (var item in Model.Filters)
        {
            <div class="row">
                <div class="col-lg-12">
                    @item.Title
                </div>
            </div>
        }

    </div>
</div>